* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  border: 1px solid greenyellow;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  padding-top: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
}

.title-input {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.title-input label {
  font-size: 21px;
  padding-bottom: 20px;
  font-weight: bold;
}

.title-input input {
  padding: 15px;
  font-size: 15px;
  width: 270px;
  border-radius: 8px;
  border: 1px solid #222;
}

.select-options {
  display: flex;
  padding: 20px 0;
}
.select-options label {
  padding-right: 10px;
  font-weight: bold;
  font-size: 15px;
}

.select-options select {
  border-radius: 3px;
  width: 145px;
  padding: 7px;
  border: 1px solid #444;
  background: white;
}

.description {
  padding: 10px;
}
.description input {
  font-size: 15px;
  padding: 18px;
  width: 270px;
  border-radius: 8px;
  border: 1px solid #222;
}

.add-note {
  padding: 14px;
  margin: 20px auto;
  cursor: pointer;
  border: none;
  width: 260px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #6cd90d;
}

.add-note:hover {
  font-size: 14px;
  transition: all ease 0.1s;
}

.no-notes {
  text-align: center;
  color: red;
  font-weight: bold;
  margin: 7px auto;
}

.notes {
  width: 100%;
  max-width: 490px;
  margin: 7px auto;
  padding-bottom: 10px;
  border: 2px solid #121212;
  border-radius: 8px;
}

.note-list {
  border-radius: 8px;
  background: #ddd;
  padding: 15px;
  display: flex;
  gap: 7px;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.note-list span {
  padding: 1px;
}

.note-list strong {
  padding-right: 10px;
}

.add-notes {
  background: #f9f9f9;
  border: none;
  padding: 10px;
  width: 270px;
  border: 1px solid purple;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
}

.form-title {
  align-items: center;
  width: 100px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
}

.form-title h1 {
  font-size: 19px;
  padding-bottom: 28px;
  margin-top: 20px;
}

.add-notes:hover {
  background: #80008015;
  transition: all ease 0.3s;
  border: 2px solid greenyellow;
}
